* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
body{
  background-color:silver;

}
main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  min-height: 90vh;
  background-color: rgb(255, 255, 255);
  background-image: url(../../../public/bg.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}
footer {
  text-align: center;
  padding: 20px;
  background-color: rgb(255, 162, 162);
  color: white;
}
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 30px;
}
ul {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}
.text-white {
  color: white;
  text-shadow: black 0px 0px 1px;
}
.text-black {
  color: black;
}
li:hover {
  text-decoration: underline;
}
#logo {
  width: 200px;
  height: auto;
}

/* Estilos para el contenedor principal del formulario */
.content {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  background-color: #f7f7f7;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

/* Estilos para el título del formulario */
.titulo {
  font-size: 24px;
  margin-bottom: 20px;
  text-align: center;
}

/* Estilos para los campos de entrada */
.campo {
  margin-bottom: 15px;
}

.campo label {
  display: block;
  font-weight: bold;
}

.campo input[type="text"],
.campo input[type="date"] {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 5px;
  outline: none;
}

/* Estilos para el botón de envío */
.boton-container {
  text-align: center;
}

.boton {
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
}

.boton:hover {
  background-color: #0056b3;
}
